/*
Project Name: Autolibs
Author: Alec McGuffey
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/*Font Imports */
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:500);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:700);

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firefox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* header section */

body{
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
}

.topsection {
	background-color:#C3BDFB;
	height:680px;
}

.city{
  max-width:100%;
  display:block;
  margin:auto;
}

.tone {
  width:70%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.tone h3 {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font-family:"Fira Sans";
  font-weight:300;
  color:white;
  font-size:24px;
  padding-top:75px;
  font-style:italic;
}

.tonebutton {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  margin-left:110px;
}

.tonebutton button {
  border:none;
  height:50px;
  width:200px;
  color:#C3BDFB;
  font-weight:700;
}
.tonebutton button:hover{
  background-color:#694489;
  color:white;
}

#logo  { 
  width:12%;
  margin-left:70px;
  margin-top:0px;
  padding:30px 0px 0px 0px;
  float:left;
}

nav {
  margin-right:75px;
  margin-top:0px;
  padding-top:40px;
  float:right;
}

nav a {
  font-size:20px;
  font-family:"Fira Sans";
  font-weight:700;
  color:white;
  float:right;
  margin-top:0px;
  text-decoration:none;
  padding-right:25px;
  padding-left:15px;
}

nav a:hover{
  color:#4288D6;
}

.landing_body {
  width:70%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font-family:"Fira Sans";
  font-weight:400;
  color:white;
  padding-top:125px;
}

.landing_body h1 {
  font-size:36px;
}

.landing_copy {
  line-height:200%;
}

.landing_copy .subcopy {
  font-size:30px;
  font-weight:300;
}

.landing_images {
  margin-top:30px;
  max-width:80%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.landing_image {
  float: left;
  width:25%;
  padding: 20px 0px 0px 0px;
}

#landing_image1 {
  height:43%;
  width:43%;
}

#landing_image2 {
  height:46%;
  width:46%;
}

#landing_image3 {
  height:40%;
  width:40%;
}

.landing_image h3 {
  margin-left:50px;
  margin-right:50px;
  text-align:center;
  font-family:"Fira Sans";
  font-weight:700;
  color:white;
}

.landing_image h3:hover{
  color:#4288D6;
}

.image1 {
  margin-left:100px;
}

.image2 {
  margin-left:30px;
}

.image3 {
  margin-left:20px;
}

/* main body section */

#answers {
  margin: 0px 0px 0px 0px;
  background-color:white;
  height:500px;
  padding-left:60px;
  padding-right:30px;
}

#answers h2 {
  margin-top:0px; 
  text-align:center;
  font-family:"Fira Sans";
  font-weight:700;
  color:#694489;
  padding-top:30px;
  padding-bottom:30px;
}

.question {
  clear:both;
}

.question h3 {
  margin-left:20px;
  margin-right:20px;
  float:left;
  font-family:"Fira Sans";
  font-weight:300;
  color:#694489;
  width:300px;
  margin-bottom:50px;
}

button {
  float:left;
  margin-bottom:20px;
  background-color:white;
  border-radius:7px;
  border:2px solid #694489;
  margin-top:15px;
  padding: 7px 50px 7px 50px;
  color:#694489;
  font-size:16px;
  margin-right:50px;
}

input {
  float:left;
  background-color:white;
  border-radius:7px;
  border:2px solid #694489;
  margin-top:15px;
  padding: 7px 30px 7px 30px;
  color:#694489;
  font-size:16px;
  margin-right:50px;
}

button:hover{
  background-color:#694489;
  color:white;
}

#generatebutton {
  margin-left:auto;
  margin-right:auto;
  border-radius:3px;
  border:2px solid #694489;
  padding: 25px 50px 25px 50px;
  background-color:#694489;
  color:white;
  font-size:28px;
  margin-left:400px;
  margin-bottom:50px;
}

.answer {
  width:75%;
  margin-left:150px;
  clear:both;
  margin-top:50px;
  font-family:"Fira Sans";
  font-weight:300;
  color:#694489;
  font-size:18px;
  padding:20px;
}

.three {
  width:70%;
  float:right;
}
.three button {
  width:25%;
}

.five {
  width:70%;
  float:right;
}
.five button {
  width:12%;
}

.five2 {
  width:70%;
  float:right;
}
.five2 button {
  width:25%;
}

.formq {
  width:70%;
  float:right;
}

.buttondiv {
  float:right;
  width:70%;
}

.buttondiv button {
  width:25%;
}

.five3 {
  width:70%;
  float:right;
}
.five3 button {
  width:25%;
}

.six {
  width:70%;
  float:right;
}
.six button {
  width:25%;
}

input {
  color: #4288D6;
}


