/*
Project Name: Sloganator
Author: Alec McGuffey
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/*Font Imports */
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firefox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* landing page */



body {
  background-color: #ffffff;
}

.landing_body {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font-family:"Nunito";
  color:#333333;
  font-weight:400;
  padding-top:20px;
}

.landing_body img {
  width:20%;
}

.landing_body h1 {
  font-size:38px;
}

.landing_body h2 {
  font-weight:300;
  font-size:32px;
}

button {
  margin-bottom:20px;
  background-color:white;
  border-radius:7px;
  border:2px solid #333333;
  margin-top:15px;
  padding: 20px 70px 20px 70px;
  color:#333333;
  font-size:20px;
  font-weight:700;
}

.democrat {
  margin-left:25px;
  position:relative;
}

.republican {
  margin-right:25px;
  position:relative;
}

.partyChoice {
  margin-top:70px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

button, .yourName h2, .yourName #name, .yourName #submit, .response, h1.myname, h2.response {
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
    -webkit-transition: border-color 1s;
    -moz-transition: border-color 1s;
    -o-transition: border-color 1s;
    transition: border-color 1s;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}

button.republican:hover {
    background-color: #E10A19;
    color:white;
    border-color:#E10A19;
}
button.democrat:hover {
    background-color: #093E80;
    color:white;
    border-color:#093E80;
}

#name {
 border-left:none;
 border-right:none;
 border-top:none;
 border-color:white;
 font-size:30px;
 color:#333333;
 width:175px;
 right:150%;
}

#submit {
  margin-bottom:20px;
  margin-left:25px;
  background-color:white;
  border-radius:7px;
  border:2px solid white;
  margin-top:15px;
  padding: 10px 40px 10px 40px;
  color:white;
  font-size:20px;
  font-weight:700;
}

.yourName {
  position:relative;
}

.yourName h2 {
  display:inline-block;
  margin-right:25px;
  color:white;
}

.formq {
  display:inline-block;
}

.response {
  color:black;
  margin-top:10px;
}

.myname {
  color:black;
  margin-bottom:0px;
}

h2.response {
  font-size:40px;
  clear:both;
  color:#E10A19;
}

h1.myname {
  font-size:60px;
  color:#093E80;
}

.another {
  visibility:hidden;
  margin-bottom:20px;
  background-color:#093E80;
  border-radius:7px;
  border:none;
  margin-top:15px;
  padding: 20px 70px 20px 70px;
  color:white;
  font-size:20px;
  font-weight:700;
}





